# Mac OS
.DS_Store

# VS Code
.vscode

# NPM
package-lock.json
/node_modules
npm-*

# Testing
/.nyc_output
/coverage

# IDEA
/.idea

# Build
/dist
/playground
/benchmark

# Localization
/translations

# Sync log
sync.log
